// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Showtime colors:
$st-body-color: #3a3a3a;
$st-bg-color: #f8f8fa;
$st-yellow: #FDDC7F;
// Showtime greys :
$st-dark-grey: #46494D;
$st-middle-grey: #89898A;
$st-inf-grey: #9DA3AA;
$light-grey: #D7D7D7;

// $st-silver: #747476;
// $st-desire: #E63946;
// $st-babypowder: #F9FDF8;
