// Specific CSS for your home-page
.body-bg {
  background-image: url('https://res.cloudinary.com/ddlesqeup/image/upload/v1575543243/logo_uwimut.png');
  background-size: cover;
}

#logo, .img-logo {
  text-align: left;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: bolder;
  color: white;
}

.img-logo {
  margin-right: 1rem;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  letter-spacing: 3px;
  font-weight: 900;
}

.title-showtime > p {
  margin-bottom: 0;
  color: $st-middle-grey;
}

.tagline {
  text-align: center;
  padding: 2rem 0 0 0;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 2px;
}

.current-location {
  display: flex;
  justify-content: flex-start;
  color: white;
}

.location-text, #autocomplete_address {
  font-size: 1.25rem;
}

.fa-location-arrow {
  font-size: 1.2rem;
}

.delimiter {
  display:flex;
}

.ap-input-icon {
  top: 25px;
}

.form-control-search {
  height: 4rem;
  border: 1px solid white;
  border-radius: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 40%;
}

.form-control-search:focus {
  border: 1px solid $yellow;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.btn-home {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
  background: #FAD87D;
  color: $st-dark-grey;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 900;
}
