// Specific CSS for your home-page
.body-bg {
  // background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://source.unsplash.com/16Tu8S18pu4/375x812');
  background-size: cover;
}

#logo, .img-logo {
  text-align: left;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: bolder;
  color: $st-dark-grey;
}

.img-logo {
  margin-right: 1rem;
}

.logo img {
  width: 25%;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  letter-spacing: 3px;
  font-weight: 900;
}

.title-showtime > p {
  margin-bottom: 0;
  color: $st-middle-grey;
}

.tagline {
  text-align: center;
  padding: 1rem 0 0 0;
  font-size: 1.2rem;
  color: $st-dark-grey;
  letter-spacing: 2px;
}

.current-location {
  display: flex;
  justify-content: flex-start;
  color: $st-dark-grey;
  margin-left: 5px;
}

.location-text, #autocomplete_address {
  font-size: 1.25rem;
}

.fa-location-arrow {
  font-size: 1.2rem;
}

.delimiter {
  display:flex;
}

.ap-input-icon {
  top: 25px;
}

.form-control-search {
  height: 4rem;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 40%;
}

.form-control-search:focus {
  border: 1px solid $yellow;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.btn-home {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
  background: #FAD87D;
  color: $st-dark-grey;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 900;
}

.pop-overlay {
  width:300px;
  position: absolute;
  left: -20%;
  bottom: 10px;
  animation: move 3.3s ease-in-out;
  z-index: -1;
}

@keyframes move {
  0% {
    transform: translate(100px, 300px);
  }

  50% {
     transform: translate(0px, 0px);
  }
}

.distance-cine-home{
  background-image: linear-gradient(to right, transparent 50%, $st-yellow 50%);
  background-origin: 0;
  background-size: 200% 50%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 0.5s;
  background-position: -100% 100%;
}

.message-desktop {
  @media screen and (max-width: 768px)  {
    display: none;
  }
}
