.container-index {
  width: 23rem;
  margin: 0 0 2rem 2rem;
  h2 {
    margin: 2rem 0 1rem 0;
  }
}

.banner-index {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
}
