.price-per-seat {
  font-size: 1.5rem;
}

.hour {
  font-size: 2rem;
  font-weight: 800;
}

.qr-code {
  text-align:center;
  margin-top: 1rem;
}

.hours {
  font-size: 1rem;
}

.theater-name {
  font-size: 1.25rem;
}
