.header-poster {
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/jtmwD4i4v1U/375x812');
  background-color: rgba(240,240,240,0.7);
  min-height: 100vh;
  background-attachment: fixed;
  padding-bottom: 20px;
}

.movie-infos {
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;
  display: flex;
  color: $st-body-color;

  .key-elements {
  font-weight: bold;
  margin: 10px;
  }

  .movie-description {
    text-align: justify;
    font-style: $headers-font;
    // font-style: italic;
    // border-bottom: dotted 0.5px black;
    // border-top: dotted 0.5px black;
    padding: 1rem 0;
  }
}

.card {
  margin: 1rem;
}

.banner {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-top: 10px;
  height: 60vh;
  position: relative;

  h1 {
    margin: 0;
    font-size: 2em;
    font-weight: inherit;
    color: $white;
    }
}

// .card-header {
//   text-align: center;
//   background-color: white;
//   font-size: 1.5rem;
//   font-weight: 300;
// }

// .card-header-infos {
//   text-align: center;
//   font-size: 1rem;
//   padding-top: 1rem;
// }

.distance {
  font-size: 1.5rem;
  font-weight: 800;
}

.show-heart {
  position: absolute;
  top: 15px;
  right: 15px;
}

.show-title {
  padding-top: 10rem;
}

.imax {
  width: 70px;
  padding-left: 0.5rem;
}

// .card-title, .card-text {
//   text-align: center;
// }

.card-text .price {
  font-size: 1.5rem;
}

.card-body {
  border-bottom: 1px solid grey;
}

.card-disposition {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-text-distance, .card-text-price {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.fa-street-view, .fa-euro-sign {
  padding-right: 0.5rem;
}

.seats {
  font-size: 1.5rem;
}

.modal-dialog-bottom {
  position:fixed;
  top:auto;
  right:auto;
  left:auto;
  bottom:0;
  width: 96vw;
}

.modal-border-height {
  border-radius: 1rem;
  height: 60vh;
  text-align: center;
}

.modal-body-spacing{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.choose-seats {
  width: auto;
  align-self: center;
}

.input-number {
  width: 11%;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  border: none;
  text-align: center;
  background-color: $st-yellow;
  opacity: 0.9;
}

.footer-center {
  justify-content: center;
}

.book-button {
  width: 129px;
  border-radius: 4px;
}

.key-elements > p {
  margin: 0;
}

.initial-price {
  font-size: 1.5rem;
}

.final-price {
  font-size: 1.75rem;
  font-weight: 800;
  margin-left: 0.5rem;
}


.showtime-card {
  background-color: white;
  margin: 20px;
  border-color: black;

}

.showtime-title {
  text-align: center;
}

.showtime-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.flex-item {
}

.showtime-title {
  background-color: grey;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;

  h5 {
    font-size: 16px;
    padding: 2px 0px;
    margin: 0px;
  }
}


