.header-poster {
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/jtmwD4i4v1U/375x812');
  background-color: rgba(240,240,240,0.7);
  height: 100vh;
  background-attachment: fixed;
}

.movie-infos {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;
  display: flex;
  color: $st-body-color;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  margin-top: 20px;

  h1 {
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 2em;
    font-weight: bold;
    color: $st-babypowder;
    }
}

.card-header {
  text-align: center;
  background-color: $st-babypowder;
}
