.header-poster {
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/jtmwD4i4v1U/375x812');
  background-color: rgba(240,240,240,0.7);
  height: 100vh;
  background-attachment: fixed;
}

.movie-infos {
  flex-direction: column;
  text-align: center;
  padding: 1rem 0;
  display: flex;
  color: $st-body-color;

  .key-elements{
  font-weight: bold;
  margin: 10px;
  }

  .movie-description {
    text-align: justify;
    font-style: $headers-font;
    // font-style: italic;
    // border-bottom: dotted 0.5px black;
    // border-top: dotted 0.5px black;
    padding: 1rem 0;
  }
}

.card {
  margin: 1rem;
}

.banner {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 7px;
  height: 25vh;
  position: relative;

  h1 {
    margin: 0;
    font-size: 2em;
    font-weight: inherit;
    color: $white;
    }
}

.card-header {
  text-align: center;
  background-color: $light-grey;
}

.show-heart {
  position: absolute;
  bottom: 164px;
  right: 17px;
}

.show-title {
  padding-top: 10rem;
}

.imax {
  width: 70px;
  padding-left: 0.5rem;
}

.card-title, .card-text {
  text-align: center;
}

.card-text .price {
  font-size: 1.5rem;
}

.card-body {
  border-bottom: 1px solid grey;
}

.card-disposition {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-text-distance, .card-text-price {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.fa-street-view, .fa-euro-sign {
  padding-right: 0.5rem;
}

.seats {
  font-size: 1.5rem;
}
