.showtime-infos {
  display: flex;
  margin: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // text-align: center;
  // align-items: center;



}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FFDC7F;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.flex {
  display: flex;
}

.showtime-movie {
  margin: 20px;
}
