<div class="container-index">
  <!-- Best Deals -->
  <h2>Best Deals</h2>
    <% @movies.each do |movie| %>
      <% if movie.almost_finished? %>
      <%= render './shared/best_deal_index' %>
      <% end %>
    <% end %>
  <!-- Category list -->
  <%= render './shared/card_index' %>
</div>
