<div class="container-index">
  <h2>Best Deals</h2>
    <% @movies.each do |movie| %>
      <% if movie.almost_finished? %>
      <%= render 'best_deal' %>
      <% end %>
    <% end %>
  <%= render 'card' %>
</div>
