<div class="container-index">
  <!-- Last minute -->
  <div class="bg-lastminute">
    <h2>Dernière minute</h2>
    <div class="siema">
      <% @showtimes.sort_by { |showtime| showtime.start_hour }.each do |showtime| %>
        <!-- Carrousel for each last chance showtime -->
        <%= render './shared/card_showtime_lastminute', showtime: showtime %>
      <% end %>
    </div>
  </div>

  <!-- Best Deals -->
  <div class="bg-bestdeals">
    <h2>Meilleures offres</h2>
    <div class="siema">
      <% @showtimes.sort_by { |showtime| showtime.price }.each do |showtime| %>
        <!-- Carrousel for each last chance showtime -->
        <%= render './shared/card_showtime_bestdeal', showtime: showtime %>
      <% end %>
    </div>
  </div>

  <!-- All movies -->
  <div class="bg-allmovies">
    <h2>Tous les films à l'affiche</h2>
    <div class="siema">
      <% @movies.each do |movie| %>
        <% if movie.almost_finished? %>
        <!-- Carrousel for each best deals card -->
            <div><%= render './shared/card_index', movie: movie %></div>
        <% end %>
      <% end %>
  </div>
</div>
