<% unless session[:latitude].nil? %>
  <% search = Geocoder.search([session[:latitude].to_f, session[:longitude].to_f]).first %>
<% end %>
<% if action_name == "show" && controller_name == "movies" %>
  <div class="navbar navbar-expand-sm navbar-transparent">
    <%= link_to movies_path(lng: session[:longitude], lat:  session[:latitude]) do %>
      <i class="arrow fas fa-arrow-left"></i>
    <% end %>
    <% unless search.nil? %>
      <p></p>
    <% end %>
  </div>
<% else %>
  <div class="navbar navbar-expand-sm navbar-light">
    <% unless search.nil? %>
      <p><i class="fas fa-location-arrow"></i>&nbsp;&nbsp; <%= search.suburb %> - <%= search.city %> &nbsp;&nbsp;<i class="fas fa-chevron-down"></i></p>
    <% else %>
      <p></p>
    <% end %>
    <button class="navbar-toggler" id='navbarDropdown' type="button" data-toggle="dropdown" aria-haspopup="true" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/movies">Accueil</a>
      <a class="dropdown-item" href="/favorite">Films favoris</a>
    </div>
  </div>
<% end %>
