<div class="container">
  <div class="navbar navbar-expand-sm navbar-light">
    <% if action_name == "show" %>
      <%= link_to movies_path do %>
        <i class="fas fa-arrow-left" style="font-size: 1.3rem;"></i>
      <% end %>
    <% end %>
    <% unless session[:latitude].nil? %>
      <p><%= Geocoder.search([session[:latitude].to_f, session[:longitude].to_f]).first.suburb %> - <%= Geocoder.search([session[:latitude].to_f, session[:longitude].to_f]).first.city %></p>
    <% end %>
    <% if action_name == "show" %>
    <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/castrax" />
    <% else %>
    <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/castrax" />
    <% end %>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Home</a>
      <a class="dropdown-item" href="#">Favorite movies</a>
    </div>
  </div>
</div>

