<div class="container">
  <div class="logo">
    <img src="https://res.cloudinary.com/ddlesqeup/image/upload/v1575367880/logo_hxqlkn.png" class="img-logo">
    <h1 id="logo" class="ml3">showtime</h1>
  </div>
      <h2 class="tagline">Achetez des places de cinéma à proximité et <br><strong>à prix réduits.</strong></h2>
  <%= link_to "", class: "geoloc" do %>
    <div class="current-location mt-5">
      <i class="fas fa-location-arrow mt-1"></i>
      <p class="location-text mb-0 pl-2">Utiliser ma position actuelle</p>
    </div>
  <% end %>
  <input class="form-control-search mt-4" id="autocomplete_address" type="text" placeholder="Où êtes-vous?">
  <%= link_to '<button type="button" class="btn geoloc mt-3 btn-lg btn-block btn-home">Trouver un film</button>'.html_safe, movies_path %>
</div>

