<div class="container">
  <div class="logo">
    <%= image_tag "logo_ticket.svg" %>
    <h1 id="logo" class="ml3">showtime</h1>
  </div>
      <h2 class="tagline">Achetez des places de cinéma <br>à proximité et <span class="distance-cine-home">à prix réduits.</span></h2>
  <%= link_to "", class: "geoloc" do %>
    <div class="current-location mt-5">
      <i class="fas fa-location-arrow mt-1"></i>
      <p class="location-text mb-0 pl-2">Utiliser ma position actuelle</p>
    </div>
  <% end %>
  <input class="form-control-search mt-4" id="autocomplete_address" type="text" placeholder="Où êtes-vous?">
  <%= link_to '<button type="button" class="btn mt-3 btn-lg btn-block btn-home">Trouver un film</button>'.html_safe, movies_path %>
</div>
<%= image_tag "popcorn.png", class:"pop-overlay" %>

