<div class="container">
  <h1 id="logo">Showtime</h1>
  <h2 class="tagline">Don't miss the experience!</h2>
  <input class="form-control mt-5" type="text" placeholder="Where are you?">
  <div class="current-location mt-2">
    <p class="location text mb-0">Use my current location</p>
    <i class="fas fa-location-arrow pl-2"></i>
  </div>
  <button type="button" class="btn btn-primary mt-5 offset-4">Find movies</button>
</div>
