.book-cta {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em 0.7em;
  transform: translateY(-100%);
  transition: all 0.5s ease;
}

.book-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    font-weight: 700;
    font-size: 1.5em;
  }
}

.book-calltoaction {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    background-color: $st-yellow;
    color: black;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 700;
  }
  a:focus {
    outline: none !important;
  }
  a > span {
    border-left: 1px solid rgba(0,0,0,0.2);
    padding-left: 5px;
    margin-left: 3px;
  }
}

.book-infos-bottom {
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
  .book-time {
    padding-left: 1em;
  }
  .book-location .fa-compass {
    color: $st-dark-grey;
  }
}
