.card-showtime {
  overflow: hidden;
  height: 150px;
  background: white;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.card-showtime img {
  height: 100%;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.card-showtime a {
  color: $st-dark-grey;
  text-decoration: none;
}

.card-showtime h2 {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}

.card-showtime p {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 6px;
}

.pricing {
  font-size: 1.1rem;
}

.card-showtime-infos {
  padding: 16px;
}

.card-showtime-infos h2 {
  font-size: 1rem;
  margin: 12px 0 0 0;
  color: $yellow;
}

.card-showtime-infos h3 {
  font-size: 1.2rem;
  margin: 0;
  color: $st-body-color;
  padding-bottom: 0;
  font-weight: 800;
}

.flex-card {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.banner-showtime {
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  height: 460px;
}

.banner-showtime h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 2rem;
  font-weight: bold;
}

.banner-showtime-spacing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.banner-showtime-back {
  color: white;
  font-size: 26px;
}

.banner-showtime p {
  font-size: 1rem;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-showtime {
  padding: 10px 12px 10px 12px;
  border-radius: 10px;
  background: $st-yellow;
  color: $st-dark-grey;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  width: 100%;
  &:focus, &:hover {
    outline: none;
  }
}

.autres-seances h2 {
  margin-top: 3rem;
  font-size: 1.1rem;
  color: #46494D;
  text-transform: uppercase;
  font-weight: 800;
}

.autres-seances > .card-showtime {
  margin-top: 1rem;
}
