.navbar {
  background: #F9FDF8;
  margin: 0 auto;
  width: 100%;
  padding-left: 0;
}

.navbar p {
  text-align: center;
  margin: 0 auto;
  width: auto;
  border: 0.5px solid $st-silver;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: rgba(230, 230, 230, 0.3);
}

