.navbar-light {
  background: $st-bg-color;
  margin: 0 auto;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.navbar-light p {
  text-align: center;
  margin: 0 0;
  width: auto;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-toggler {
  border: none;
  color: $st-middle-grey;
  padding: 0;
  padding-top: 1rem;
}

.arrow {
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  color: $white;
}

.container {
  position: relative;
}

.navbar-transparent {
  position: absolute;
  z-index: 1;
  padding: 0;
  padding-top: 0.5rem;
}

.p-show {
  color: white;
  margin-bottom: 0;
}
