.card-trip {
  position: relative;
}

.ribbon-yellow, .ribbon-dark {
  width: 7rem;
  height: 2rem;
  position: absolute;
  top: 0.5rem;
  left: 0rem;
  z-index: 1;
  border-radius: 5px;
  text-align: center;
}

.ribbon-yellow {
  background-color: #FDDC7F;
}

.ribbon-dark {
  background-color: #ff5858;
}

.ribbon-yellow > p {
  color: #46494D;
  font-size: 1.25rem;
  opacity: 100%;
  margin: 0;
  font-weight: 800;
  letter-spacing: 1px;
}

.ribbon-dark > p {
  color: white;
  font-size: 1.25rem;
  opacity: 100%;
  margin: 0;
}

.dans {
  font-size: 0.75rem;
  letter-spacing: 0px;
}

.initial-pricee {
  font-size: 1rem;
}
